include props

include ../tabs/tabs

mixin vacancy(title)
  article.vacancy
    h2.vacancy__header 
      button(type="button" aria-expanded="false").vacancy__button.js-accordion #{title}
        span
    .vacancy__panel
      .vacancy__info
        .vacancy__years > 6
          span лет опыта
        .vacancy__text Самостоятельный дизайнер с отличной насмотренностью, который способен без помощи арт-директора решать как базовые дизайн-задачи так и сложные  (дизайн лендингов, подач, презентаций и тд.)
        +tabs(vacancyItem.tabs).vacancy__tabs.js-tabs
          .tabs-content.active(id=vacancyItem.tabs[0].data)
            .vacancy__decription
              ul.vacancy__list
                each item of vacancyItem.decriptionList
                  li.vacancy__list-item #{item}
          .tabs-content(id=vacancyItem.tabs[1].data)
            .vacancy__decription Обязанности
          .tabs-content(id=vacancyItem.tabs[2].data)
            .vacancy__decription Стек
            
